<p style="color: green"><%= notice %></p>

<h1> Ajouter un commentaire </h1>

<%= form_with(model: [current_user, @post, @post.comments]) do |form| %>
  <% if @comment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this @comment from being saved:</h2>
 
      <ul>
        <% @comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= render "form", comment: @comment %>
<% end %>
